<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Название</td>
      <td>{{ product.videoСard_name }}</td>
    </tr>
  <tr>
      <td>Объем видеопамяти</td>
      <td>{{ product.videoСard_vram_count }}</td>
  </tr>
  <tr>
      <td>Тип памяти</td>
      <td>{{ product.videoСard_vram_type }}</td>
  </tr>
    <tr>
      <td>Шина</td>
      <td>{{ product.videoCard_bus }}</td>
  </tr>

  </tbody>
</table>
</body>
</html>